body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}


.profile-image,
.education-logo,
.project-image {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    border: 4px solid #3498db; /* Blue border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin: 0 auto; /* Center horizontally */
}


.welcome-text {
    font-size: 24px;
    margin: 10px 0;
    color: #3498db; /* Blue color */
}

.intro-text {
    font-size: 18px;
    color: #666;
}

.education-section {
    background-color: #ecf0f1; /* Light gray-blue color */
    padding: 30px;
}

.section-title {
    font-size: 24px;
    color: #333;
}

.school-name {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-text {
    font-size: 16px;
    color: #555;
}

/* Add additional styling as needed */
