<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Portfolio</title>
</head>

<body class="font-sans">

    <!-- Navbar -->
    <nav class="bg-indigo-800 p-4 text-white transition duration-300 ease-in-out">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo ou titre de la page -->
            <a href="#" class="text-xl font-bold">Mon Portfolio</a>

            <!-- Liens de navigation -->
            <div class="space-x-4">
                <a href="/Home/Index" class="hover:text-gray-300">Home</a>
                <a href="/Home/Documents" class="hover:text-gray-300">Documents</a>
                <a href="/Home/Techno" class="hover:text-gray-300">Veille technologique</a>
                <a href="/Home/Contact" class="hover:text-gray-300">Me Contacter</a>
                <a href="https://github.com/tristandac27" target="_blank" class="hover:text-gray-300">Github</a>
                <a href="https://www.linkedin.com/in/tristan-dacier-059a34261/" target="_blank"
                   class="hover:text-gray-300">Linkedin</a>
                <a href="." download="CV.pdf" class="hover:text-gray-300">Télécharger le CV</a>
            </div>
        </div>
    </nav>

    <!-- Contenu principal de votre page -->
    <div class="container mx-auto mt-8">
        @RenderBody()
    </div>

    <!-- Ajoutez les liens vers les fichiers JavaScript nécessaires ici -->
    <script></script>
</body>

</html>
