<div class="container">
    <h1 style="text-align:center;">Le BTS SIO</h1>
    <p>Brevet du Technicien Supérieur Services Informatiques aux Organisations se prépare sur une période de deux ans et s'adresse aux personnes qui souhaitent devenir développeur ou s'orienter dans l'administration des systèmes et réseaux. Pour ma part, j'ai choisi de faire un BTS SIO pour m'orienter dans la seconde option. Pendant la première année, j'ai suivi des cours en développement et en réseau, mon choix s'est ainsi confirmé sur l'option SLAM.</p><h2>Option SISR</h2>
    <p>Débouchés : Technicien de production Technicien d’infrastructure Technicien réseau et télécoms Technicien systèmes et réseaux Administrateur systèmes et réseaux Support systèmes et réseaux Pilote d’exploitation Informaticien support et déploiement</p>

    <h2>Option SLAM</h2>
    <p>Débouchés : Développeur d'applications informatiques Développeur informatique Analyste d'applications ou d'études Analyste programmeur Chargé d'études informatiques Informaticien d'études Programmeur analyste Programmeur d'applications Responsable des services applicatifs Technicien d'études informatiques</p>
</div>